.MenuDeatilPrivate {
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
    box-sizing: border-box;
    z-index: 90;
    border-bottom: 1px solid #ccc;
}

.Grid {
    width: 100%;
    padding: 0px;
    height: 100%;
}

.Col {
    padding: 0px;
    height: 100%;
    width: 100%;
}

.Thumbnail {
    padding: 0px;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 0px;
}

.Row {
    height: 100%;
}

.TopLeft {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
}

img {
    height: 100% !important;
}
